BorderPane {
    -fx-padding: 10 10 10 10;
}

HBox {
    -fx-alignment: center;
    -fx-padding: 10 10 10 10;
    -fx-spacing: 30;
}

VBox {
    -fx-alignment: center;
}

ScrollPane {
    -fx-fit-to-width: true;
    -fx-pref-width: 500;
}

TableView {
    -fx-fit-to-width: true;
    -fx-pref-width: 500;
}

TabelColumn {
    -fx-pref-width: 200;
}

.PageHeader {
    -fx-alignment: center;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.ErrorLabel {
    -fx-text-fill: red;
    -fx-padding: 10 0 0 0;
}

.ShowAllCB {
    -fx-padding: 10 0 0 0;
}